<html>
<head>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
<header class="cabecera">
    <img id="logo" src="images/logo-mercado-liebre.svg"> 

    <a id="busqueda-position"><form action="/" method="get" id="barra-busqueda">
        <label for="query"></label>
        <input type="text" name="q" id="query" placeholder=" Buscar productos, marcas y más" >
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form></a>

    <span id="titulo"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</span>
    <p></p>
    <nav class="links">
        <span class="links-1">
        <a href="#">Ofertas</a>
        <a href="#">Tiendas Oficiales</a>
        <a href="#">Vender</a>
        <a href="#">Ayuda</a>
        </span>

        <span class="links-2">
        <a href="/ingresa">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a>
        <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#">Mis compras <i class="fa-solid fa-cart-plus"></i></a>
        </span>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i> 
    </div>
    <img class="propaganda" src="images/img-home-banner.jpg">
</header>

<main>
    <p class="titulares">Basado en tu última visita</p>

<section class="listado-productos">
    <div class="contenedor"><article class="productos">
        <img src="images/img-cafetera-moulinex.jpg" class="imagen-producto">
    <section class="elementoCaja">
        <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <p class="descripciones">Cafetera Moulinex</p>
    </section>
    </article></div>

    <div class="contenedor"><article class="productos">
        <img src="images/img-macbook-pro-2019.jpg" class="imagen-producto">
    <section class="elementoCaja">
        <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off</p>
        <p class="descripciones">MacBook Pro 2019</p>
    </section>    
    </article></div>

    <div class="contenedor"><article class="productos">
        <img src="images/img-samsung-galaxy-s10.jpg" class="imagen-producto">
    <section class="elementoCaja">
        <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones">Samsung Galaxy S10</p>
    </section>
    </article></div>

    <div class="contenedor"><article class="productos">
        <img src="images/img-tv-samsung-smart.jpg" class="imagen-producto">
    <section class="elementoCaja">
        <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <p class="descripciones">SmartTv Samsung 43"</p>
    </section>
    </article></div>
</section>
<p class="titulares">Sección de Ofertas</p>


<section class="listado-productos">
<div class="contenedor"><article class="productos">
    <img src="images/img-cafetera-moulinex.jpg" class="imagen-producto">
<section class="elementoCaja">
    <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
    <p class="precios">$6.770</p>
    <p class="descuentos">40% off</p>
    <p class="descripciones">Cafetera Moulinex</p>
</section>    
</article></div>

<div class="contenedor"><article class="productos">
    <img src="images/img-macbook-pro-2019.jpg" class="imagen-producto">
<section class="elementoCaja">
    <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
    <p class="precios">$230.000</p>
    <p class="descuentos">20% off</p>
    <p class="descripciones">MacBook Pro 2019</p>
</section>    
</article></div>

<div class="contenedor"><article class="productos">
    <img src="images/img-samsung-galaxy-s10.jpg" class="imagen-producto">
<section class="elementoCaja">
    <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
    <p class="precios">$70.500</p>
    <p class="descuentos">10% off</p>
    <p class="descripciones">Samsung Galaxy S10</p>
</section>    
</article></div>

<div class="contenedor"><article class="productos">
    <img src="images/img-tv-samsung-smart.jpg" class="imagen-producto">
<section class="elementoCaja">
    <div class="mover-camion"><div class="envio"><i class="fa-solid fa-truck"></i></i></div></div>
    <p class="precios">$23.200</p>
    <p class="descuentos">5% off</p>
    <p class="descripciones">SmartTv Samsung 43"</p>
</section>
</article></div>
</section>


</main>


<footer>
    <section class="articulo-footer">
        <div class="footer-icon"><i class="fa-solid fa-credit-card"></i></div>
        <p class="titulares">Pagá con tarjeta o en efectivo</p>
        <p class="txt-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="articulo-footer">
        <div class="footer-icon"><i class="fa-solid fa-gift"></i></div>
        <p class="titulares">Envío gratis desde $ 2.500</p>
        <p class="txt-footer"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section class="articulo-footer">
        <div class="footer-icon"><i class="fa-solid fa-user-shield"></i></div>
        <p class="titulares">Seguridad, de principio a fin</p>
        <p class="txt-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>

    <section class="articulo-footer">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>

</body>
</html>
